body {
	
    font-family: 'Ranchers', cursive;
}

ul,li{
	display: block;
	padding: 0;
	margin: 0;
}

.header {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 10px;
}

.menu{
	margin-top: 8px;
}

.menu_item{
	margin: 0 57px;
}

.menu_item a{
	font-size: 22px;
	font-weight: 700;
	color: #000;
}

.offer{
	margin-top: 117px;
}

.offer_title{
	font-size: 32px;
	margin-bottom: 0px;
}

.offer_intro{
	font-size: 20px;
	line-height: 1.3em;
}

.offer_text{
	font-size: 16px;
	margin-top: 15px;
	color: #555555;
	width: 400px;
}

.icons_item{
	margin-right: 30px;
}

.icons_item a{
	color: #000;
	font-size: 42px;
}

.icons_item a:hover{
	text-decoration: none;
	color: red;
}

h1, h2, h3, h4{
	font-weight: 700;
	color: #000;
}

h3{
	font-weight: 400;
}

h2{
	text-align: center;
}

.ipad{
	display: block;
	margin: 0px auto 0;
	height: 420px;
	width: 420px;
}

.title{
	padding-top: 100px;
}

.title_main{
	font-size: 32px;
	text-align: center;
}

.title_text{
	font-size: 20px;
	text-align: center;
}

.interesting{
	margin-bottom: 65px;
}

.interesting_icon{
	font-size: 50px;
	margin-right: 37px;
	color:#000;
}

.interesting_text{
	color: #898989;
}

.feedback {

	background:#000;
	color: #fff;
}

.blue{

	color:#95d9fb
}

.btn{
	color: black;
}

input{
	height: 40px;
	width: 500px;
}

.feedback{
	background: black;
	
}
.footer{
	background: #000;
}
.footer_info{
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding: 50px 0 94px;
	width: 184px;
	margin: 0 auto;
	text-align: center;
}


.offer_title:hover{
  display: inline-block;
  color: red;
  animation-duration: 0.6s;
}

.ipad:hover{
  animation: jello;
  animation-duration: 0.6s;
}

.ipad_div{
  width: 420px;
  height: 420px;
}

.interesting_text:hover{
	color: red;
}

.interesting_icon:hover{
	color: red;
}

.offer_text:hover{
	color: red;
}

.title_text:hover{
	color: red;
}

.offer_intro:hover{
	color: red;
}

#ff4800